{% if page.header.banner.url %}
	<div id="banner" class="height-100" style="background-position: {{ page.header.banner.position }}; background-image:url('{{ page.media[page.header.banner.url].url }}?fp=4702')">
		<section class="container relative text-center height-100">
			<div class="center-vh width-100">
				{% if page.header.banner.headline %}
					<h2>{{ page.header.banner.headline|raw }}</h2>
				{% endif %}
				{% if page.header.banner.follower.text %}
					<div>
						<span class="follower {{ page.header.banner.follower.class|replace({',': ' '}) }}">{{ page.header.banner.follower.text|raw }}</span>
					<div>	
				{% endif %}
				{% if page.header.banner.blurb.text %}
					<div>
						<span class="blurb {{ page.header.banner.blurb.class|replace({',': ' '}) }}">{{ page.header.banner.blurb.text|raw }}</span>
					</div>
				{% endif %}
			</div>
		</section>
	</div>
{% endif %}