<!DOCTYPE HTML>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
	<title>{% if page.title %}{{ page.title|raw }}{% endif %}{% if config.theme.sitetitle %} - {{ site.title|raw }}{% endif %}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	{% include 'partials/metadata.html.twig' %}

	<link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png?fp=4702') }}" />
	<link rel="canonical" href="{{ page.url(true, true) }}" />

	{% block stylesheets %}
		{% do assets.addCss('theme://fonts/opensans/opensans.css?fp=4702', {group: 'init'}) %}
		{% do assets.addCss('theme://dist/css/main.css?fp=4702', {group: 'init'}) %}
		{# head: blocking scripts #}		
		{{ assets.css('init')|raw }}
		{# head: with loading parameter #}
		{{ assets.css('delay')|raw }}
		{# head: deferred css #}
		<link rel="stylesheet" href="{{ url('theme://fonts/fontawesome/font-awesome.min.css?fp=4702') }}" media="print" onload="this.onload=null;this.media='all'">
		<noscript>
			<link rel="stylesheet" href="{{ url('theme://fonts/fontawesome/font-awesome.min.css?fp=4702') }}">
		</noscript>
	{% endblock %}

	{% block javascripts %}
		{% if (config.theme.jquery == 1) %}
			{% do assets.addJs('theme://vendor/js/jquery-3.7.1.min.js?fp=4702', {group: 'delay', loading: 'defer'}) %}
		{% endif %}
		{% do assets.addJs('theme://vendor/js/dropdown.min.js?fp=4702', {group: 'delay', loading: 'defer'}) %}
		{% if (config.theme.dropdown == 1) %}
			{% do assets.addJs('theme://vendor/js/jquery.dropotron.min.js?fp=4702', {group: 'delay', loading: 'defer'}) %}
		{% endif %}
		{% do assets.addJs('theme://vendor/js/skel.min.js?fp=4702', {group: 'delay', loading: 'defer'}) %}
		{% do assets.addJs('theme://vendor/js/skel-layers.min.js?fp=4702', {group: 'delay', loading: 'defer'}) %}
		{% do assets.addJs('theme://dist/js/scripts.js?fp=4702', {group: 'delay', loading: 'defer'}) %}
		{# head: blocking scripts #}		
		{{ assets.js('init')|raw }}
		{# head: with loading parameter #}		
		{{ assets.js('delay')|raw }}
	{% endblock %}

{% endblock head %}
</head>

<body>

	{% block header %}
		<div class="wrapper style1">
			<div id="header">
				<div class="container">
					<a href="{{ addSlash(home_url) }}" id="logo">{{ site.title }}</a>
						{% include 'partials/navigation.html.twig' %}
				</div>
			</div>

			{% block banner %}{% endblock banner %}

		</div>
	{% endblock header %}

	{% block body %}
		{% block content %}

			{{ page.content|raw }}

		{% endblock content %}
	{% endblock body %}

	{% block footer %}
		{% include 'partials/footer.html.twig' %}
	{% endblock footer %}

	{% block assets deferred %}
		{# plugins: JS / CSS #}
		{{ assets.js()|raw }}
		{{ assets.css()|raw }}
    {% endblock %}

</body>
